/* ==========================================================================
   Footer Widget Area & Lower Footer
   ========================================================================== */
footer {
	background: $dark-purple;
	padding:20px 0;
	color:$dark-yellow;
   .container {
   		.widget-area {
	   		width:100%;
	   		font-size:1em;
	   		ul {
	   			margin:0;
	   			padding:0;
	   		}
		   		li{
		   			list-style: none;
		   			padding:1px 0;
		   			a, span, caption {
		   			color:$dark-yellow;
		   			line-height: 1.5em;
		   			}
		   		}
		   		h1.widget-title {
		   			width:100%;
		   			font-size: 1.5em;
		   			padding-bottom:10px;
		   			margin-bottom: 20px;
		   			border-bottom:1px groove #fff;
		   		}
	   		}
    	}
	}
.lower-footer {
	background: #2f2f2f;
	padding:20px 0;
	color:#fff;
	.container {
		text-align: center;

	}
}