/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
	width:100%;
	#page {
		width: 100%;
		max-width: 100%;
		margin:0 auto;
	}
	header.site-header {
		top:0;
		left:0;
		padding:0 5px;
	}
	h1 {
		margin:0;
	}
	h1 img {
		width: 200px;
	}
	.carousel {
		margin-bottom: 60px;
	}
	.featurette-heading {
  		margin-top: 120px;
	}
	.featurette-divider {
  		margin: 80px 0;
	}
	.marketing {
		.col-lg-4 {
			text-align:center;
		}
	}

}
